{% set baseURL = services.url.getCanonicalURL(null, true) %}
{% set prevPage = currentPage - 1 <= 1 ? null : currentPage - 1 %}
{% set beforePrevPage = currentPage - 2 <= 1 ? null : currentPage - 2 %}

{% if services.template.isCurrentTemplate("tpl.my-account") %}
    {% set baseURL = urls.myAccount %}
{% endif %}

<nav class="cmp cmp-paginator row justify-content-end text-center" role="navigation" aria-label="{{ trans("Ceres::Template.paginationTitle") }}">
    {% if pageMax > 1 %}
        <ul class="pagination col-12 col-lg-9 justify-content-center m-y-0">

        <!-- PREV LINK -->
        <li class="page-item{% if currentPage <= 1 %} disabled{% endif %}">
            <a class="page-link prev"{% if currentPage > 1 %} href="{{ baseURL ~ queryString({ 'page': prevPage }) }}"{% endif %}
                 aria-label="{{ trans("Ceres::Template.paginationPrevPage") }}"
                {% if currentPage <= 1 %} aria-disabled="true"{% endif %}>
                <i class="fa fa-sort-asc fa-rotate-270" aria-label="{{ trans('Ceres::Template.paginationPrevPage') }}"></i><span>Vorherige Seite</span>
            </a>
        </li>

        <!-- FIRST PAGE LINK -->
        {% if ceresConfig.pagination.showFirstPage and pageMax > 3 and currentPage > 2 %}
            <li class="page-item">
                <a class="page-link" href="{{ baseURL ~ queryString({ 'page': null }) }}" aria-label="{{ trans("Ceres::Template.paginationFirstPage") }}">
                    1
                </a>
            </li>
        {% endif %}
        <!-- ./FIRST PAGE LINK -->

        <!-- PAGINATION -->
        {% if currentPage == pageMax and currentPage > 2 %}
            <li class="page-item">
                <a class="page-link" href="{{ baseURL ~ queryString({ 'page': beforePrevPage }) }}">{{ currentPage - 2 }}</a>
            </li>
        {% endif %}

        {% if currentPage > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ baseURL ~ queryString({ 'page': prevPage }) }}">{{ currentPage - 1 }}</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link">{{ currentPage }}</a>
        </li>

        {% if currentPage + 1 <= pageMax %}
            <li class="page-item">
                <a class="page-link" href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}">{{ currentPage + 1 }}</a>
            </li>
        {% endif %}

        {% if currentPage == 1 and currentPage + 2 <= pageMax %}
            <li class="page-item">
                <a class="page-link" href="{{ baseURL ~ queryString({ 'page': currentPage + 2 }) }}">{{ currentPage + 2 }}</a>
            </li>
        {% endif %}
        <!-- ./PAGINATION -->

        <!-- LAST PAGE LINK -->
        {% if ceresConfig.pagination.showLastPage and pageMax > 3 and currentPage < pageMax - 1 %}
            <li class="page-item three-dots">
                <a class="page-link">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ baseURL ~ queryString({ 'page': pageMax }) }}" aria-label="{{ trans("Ceres::Template.paginationLastPage") }}">
                    {{ pageMax }}
                </a>
            </li>
        {% endif %}
        <!-- ./LAST PAGE LINK -->

        <!-- NEXT LINK -->
        <li class="page-item{% if currentPage >= pageMax %} disabled{% endif %}">
            <a class="page-link next" {% if currentPage < pageMax and not isPreview %} href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}"{% endif %}
                aria-label="{{ trans("Ceres::Template.paginationNextPage") }}"
                {% if currentPage >= pageMax %} aria-disabled="true"{% endif %}>
               <span>Nächste Seite</span><i class="fa fa-sort-asc fa-rotate-90" aria-label="{{ trans('Ceres::Template.paginationNextPage') }}"></i>
            </a>
        </li>
        <!-- ./NEXT LINK -->
        </ul>
    {% endif %}
</nav>