<script type="x/template" id="vue-user-login-handlerDG">
    <div id="login-change">
        <div class="dropdown" v-if="isLoggedIn">
            <a href="#" class="dropdown-toggle" id="accountMenuList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>{{ trans("Ceres::Template.loginHello", {"username": "${username}"}) }}</span>
            </a>
            <div class="account-menu dropdown-menu dropdown-menu-right small">
              <div class="list-group" aria-labelledby="accountMenuList" >
                <a href="{{ urls.myAccount }}" class="list-group-item">{{ trans("Ceres::Template.loginMyAccount") }}</a>
                <a href="#" class="list-group-item" v-logout>{{ trans("Ceres::Template.loginLogout") }}</a>
              </div>
            </div>
        </div>
        <div v-if="!isLoggedIn">
            <a data-toggle="modal" href="{% if services.template.isCurrentTemplate("tpl.login") %}javascript:void(0){% else %}#login{% endif %}" @click="unmarkInputFields()">
                <span>{{ trans("Ceres::Template.login") }}</span>
            </a>
            <a data-toggle="modal" href="#registration" @click="unmarkInputFields()">
                <span>{{ trans("Ceres::Template.loginRegister") }}</span>
            </a>
        </div>
    </div>
</script>
