{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
{% if footerContainer is empty %}

<div class="footer">

    <div class="container-max footer-content">
        <div class="row">
            {% for i in 1..1 %} {# ..numberOfCols #}
                <div class="col-6 col-sm-6 col-md-3">
                    <nav class="footer-column">
                        <h2 class="h5">{{ trans('Ceres::Template.footerColumnTitle' ~ i) }}</h2>
                        <ul class="list-unstyled">
                            {% set footerCategories = config('Ceres.footer.col_' ~ i ~ '_categories') | find("[0-9]+") %}
                            {% for catID in footerCategories %}

                                {% set cat = services.category.get(catID, lang) %}

                                {% if cat is not null %}
                                    {% set displayedCategories = displayedCategories | merge([catID]) %}
                                    <li>
                                        <a href="{{ services.category.getURL( cat ) }}">
                                            {{ cat.details.first.name }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}
                            {% autoescape false %}
                                <li><a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a></li>
                                {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
                                    <li><a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a></li>
                                {% else %}
                                    <li><a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a></li>
                                {% endif %}
                                <li><a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a></li>
                                <li><a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a></li>
                                <li><a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a></li>
                                {% if config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com" %}
                                    <li><a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a></li>
                                {% endif %}
                            {% endautoescape %}
                        </ul>
                        Fiedlers Deko & Garten folgen
                        <a href="https://www.facebook.com/dekoundgarten.de/">
                            <img class="bt-img" src="{{ plugin_path('Dekoundgarten') }}/images/footer1.png">
                        </a>
                    </nav>
                </div>
            {% endfor %}
            <div class="col-6 col-sm-6 col-md-3">
                <nav class="footer-column">
                    <h2 class="h5">{{ trans('Ceres::Template.footerColumnTitle' ~ 2) }}</h2>
                    <ul class="list-unstyled">
                        <li>Handverlesene Produkte</li>
                        <li>Schnelle Lieferung mit ♡</li>
                        <li>Unkomplizierte Rückgabe innerhalb von 30 Tagen</li>
                        <li>Versandkostenfreie Lieferung ab € 20,00</li>
                    </ul>
                    <img class="bt-img" src="{{ plugin_path('Dekoundgarten') }}/images/footer2.png">
                </nav>
            </div>
            <div class="col-6 col-sm-6 col-md-3">
                <nav class="footer-column">
                    <h2 class="h5">Zahlung & Versand</h2>
                    Wir garantieren sichere<br>Zahlungsabwicklung und Versand.
                    <img class="bt-img" src="https://cdn02.plentymarkets.com/1esx29scmzt7/frontend/footer3_1.png">
                </nav>
            </div>
            <div class="col-6 col-sm-6 col-md-3">
                <nav class="footer-column">
                    <h2 class="h5">Kundenservice</h2>
                    Sie haben Fragen zu Ihrer Bestellung oder benötigen Beratung?<br>
                    Gerne sind wir für Sie da.<br>
                    Mo-Fr von 8:00 - 17:00 Uhr.<br>
                    Telefon: 08407/8011<br><br>
                    <b>Kostenloser Rückruf-Service</b><br>
                    Schreiben Sie uns an: <a href="mailto:shop@dekoundgarten.de">shop@dekoundgarten.de</a><br>
                    Wir rufen Sie zur gewünschten Zeit kostenlos zurück.
                </nav>
            </div>
            <div class="col-6">
                <div class="footer-column">
                    {{ LayoutContainer.show("Ceres::Footer.RowOne") }}
                </div>
            </div>
            <div class="col-6">
                <div class="footer-column row">
                    {% set rowTwo = LayoutContainer.show("Ceres::Footer.RowTwo") %}
                    
                    {{ rowTwo }}

                    <div class="col-12{% if rowTwo|trim is not empty %} col-sm-6 col-lg-12{% endif %}">
                        {{ LayoutContainer.show("Ceres::Footer.RowThree") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="footer">
        <div class="container-max footer-content">
            <div class="row">
                <div class="col clearfix">
                    {{ footerContainer | raw }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
