{{ component( "Dekoundgarten::ItemList.Components.ItemSearch" ) }}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set lang         = services.sessionStorage.getLang() %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = config("Ceres.header.company_name") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar{% if useMegaMenu %} megamenu{%endif%}">
      <div class="container-max">
        <div class="row equal">
             <div class="col-xs-8 col-sm-6 col-md-3">
                 <a class="navbar-brand pull-lg-left" href="/">
                    {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                        <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid" crossorigin="anonymous" />
                    {% else %}
                        <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid" crossorigin="anonymous" />
                    {% endif %}
                 </a>
            </div>
            <div class="col-md-6 searchCol hidden-md-down">
                <item-search template="#vue-item-searchDG"></item-search>
            </div>
            <div class="col-md-3 dg-buttons hidden-md-down">
                <a href="/basket" class="warenkorb">
                    <img src="{{ plugin_path('Dekoundgarten') }}/images/basket.png">
                    <span class="text">Warenkorb</span>
                    {% if config("Ceres.header.basket_values") != "sum" %}
                        <span class="badge" v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
                    {% endif %}

                    {% if config("Ceres.header.basket_values") != "quantity" %}
                        <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                        <span class="badge" v-else v-cloak v-basket-item-sum="$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                    {% endif %}
                </a>
                <a href="{{ urls.wishList }}" class="merkzettel">
                    <img src="{{ plugin_path('Dekoundgarten') }}/images/merkzettel.png">
                    <span class="text">Merkzettel</span>
                </a>
            </div>
            <div class="col-xs-4 col-sm-6 col-md-9 hidden-lg-up">
                 <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler" type="button">
                     &#9776;
                 </button>
             </div>
        </div>
    </div>
    <div id="mainTopMenuWrapper" class="hidden-md-down">
        <div class="container-max">
            <div id="mainNavbarCollapsable">
                <ul class="breadcrumb">
                    <li class="btnClose"></li>
                </ul>
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    {# includeCached('Ceres::PageDesign.Partials.Header.NavigationList.twig') #}
                    {% include "Dekoundgarten::PageDesign.Partials.Header.NavigationList" %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>

