{{ component( "Dekoundgarten::ItemList.Components.ItemSearch" ) }}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar header-fw{% if useMegaMenu %} megamenu{%endif%}">
      <div class="container-max">
        <div class="row mx-0 flex-row align-items-center">
             <div class="col-8 col-sm-6 col-md-3">
                 <a class="navbar-brand" href="{{ homepageURL }}">
                    {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                        <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid" />
                    {% else %}
                        <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid" />
                    {% endif %}
                 </a>
            </div>
            <div class="col-md-6 searchCol hidden-md-down">
                <item-search template="#vue-item-searchDG"></item-search>
            </div>
            <div class="col-md-3 dg-buttons hidden-md-down">
                <a v-toggle-basket-preview href="#" class="warenkorb">
                    <img src="{{ plugin_path('Dekoundgarten') }}/images/basket.png">
                    <span class="text">Warenkorb</span>
                    <span class="badge" v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
                </a>
                <a href="{{ urls.wishList }}" class="merkzettel">
                    <img src="{{ plugin_path('Dekoundgarten') }}/images/merkzettel.png">
                    <span class="text">Merkzettel</span>
                </a>
            </div>
            <div class="col-4 col-sm-6 col-md-9 d-lg-none">
                 <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler" type="button">
                     &#9776;
                 </button>
             </div>
        </div>
    </div>
    <div id="mainTopMenuWrapper" class="hidden-md-down">
        <div class="container-max">
            <div id="mainNavbarCollapsable">
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    {% include "Dekoundgarten::PageDesign.Partials.Header.NavigationList" %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>

